<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=3">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>
small
<iframe id="iframe" scrolling="no">
    <p>Your browser does not support iframes.</p>
</iframe>

</body>
<!--  1024 720  1280 752   1024 600 -->

<script type="text/javascript">

    var debugging = true;

    var iframe = document.getElementById("iframe");

    iframe.src = "http://localhost:8888/index.html?"+ (+new Date)

    var resolution = 5;
    var mode = 0;

    var config = function () {

        if (resolution == 1) {
            return {
                width  :mode ? 768 : 1024,
                height :mode ? 1024 : 768
            }
        } else if (resolution == 2) {
            return {
                width  :mode ? 800 : 1280,
                height :mode ? 1280 - 48 : 752
            }
        } else if (resolution == 3) {
            return {
                width  :mode ? 600 : 1024,
                height :mode ? 1024 - 48 : 600 - 48
            }
        }else if (resolution == 4) {
            return {
                width  :mode ? 320 : 480,
                height :mode ? 480 : 320
            }
        } else if (resolution == 5) {
            return {
                width  :mode ? 480 : 800,
                height :mode ? 800 : 480
            }
        }

    }();

    iframe.style.width = config.width + "px";
    iframe.style.height = config.height + "px";
</script>

</html>