<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta content="email=no" name="format-detection" />
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="Access-Control-Allow-Origin" content="*">
  <title>AppCarrier</title>
  <link rel="stylesheet" type="text/css" href="css/dev.css">
  <script type="text/javascript" src="src/external/load.js"></script>
</head>

<body>
  <div id="testButton">
    <button id="launchMini">进入</button>
    <button id="closeMini">退出</button>
    <button id="home">home</button>
    <button id="activate">激活</button>
  </div>
  <div id="xxtppt-app-container" class="xut-fullscreen xut-overflow-hidden"></div>
</body>

</html>
<script type="text/javascript">
Xut.Application.setConfig = {
  lauchMode: 1,
  preload: false,
  visualMode: 1,
  // platform: 'mini',
  historyMode: true,
  launchAnim: false,
  // convert: 'svg',


  // brMode: 1, //图片模式
  // imageSuffix: { //定义基础图片取值
  //     1080: 'mi',
  //     1440: 'hi'
  // },

  debug:{
    //'util','record','preload'
    // terminal:true,
    // silent:['logic','create']
  },

  // debug: {
  //   locationPage: {
  //     seasonId:1,
  //     pageIndex: 18
  //   }
  // },
  // columnCheck:true,
  // scrollMode: 'v',
  // gestureSwipe:true,
  // launchAnim:false,是否关闭启动动画
  // convert: 'svg', //转化资源svg转化成js
  // visualMode:1,2,3,4 页面模式
  // columnCheck:false, //分栏检测
  // doublePageMode: false //双页模式
  // trackCode: ['launch', 'init', 'exit', 'flip', 'content', 'hot', 'swipe'], //代码跟踪
  pageBar: {
    // type:'globalBar',
    // button:{
    //   commitWork:true,
    //   keepLearn:true,
    //   forum:true
    // },
    // float:true
    // type: ['scrollbar', 'digital']
    // direction:''
    // mode: 1,
    // position: {
    //     top: '90%',
    //     left: '20%'
    // }
  },
  // quickFlip:true,//是否支持快速翻页
  // supportQR: true, //是否启动二维码
  // visualHeight: DEFAULT,
  // visualTop: 0, //根据高度内部算出的top提供给缩放图片的全屏放大使用
  // cursor: {  //定义忙碌光标
  //     url: 'images/icons/busyicon.gif',
  //     delayTime: 300
  // },
  // salePicture: true, //默认图片支持缩放
  // salePictureMultiples: 2, //缩放倍数
  // salePageType:'page', //页面缩放
  // historyMode: true, //历史记录模式
  // swipeDelegate: true, //滑动事件猥琐
  // useHDImageZoom: true, //是否启动图片要高清图
  // convert: 'svg', //转化资源svg转化成js
};

Xut.Application.Watch('initComplete', function() {
  // console.log('initComplete')
})

Xut.Application.Watch('appDestory', function() {
  console.log('appDestory')
})

Xut.Application.Watch('trackCode', function(type, options) {
  console.log(type,options)
})


var appId = 45 //306
function play() {
  Xut.Application.Launch({
    // trackCode: ['swipe'], //代码跟踪
    el: '#xxtppt-app-container', //根节点
    path: {
      resource: 'content/' + appId,
      database: 'content/' + appId + '/SQLResult.js'
    }
  });
}
play()
$("#launchMini").click(play)
$("#home").click(function() {
  Xut.Application.Original()
})
$("#activate").click(function() {
  Xut.Application.Activate()
})
$("#closeMini").click(function() {
  Xut.Application.Exit()

})

</script>
