<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=3">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<style>
	*,html{margin:0;padding:0;}
	iframe{overflow:hidden;}
	</style>
	<script src="jquery.min.js"></script>
</head>
<body>
<iframe id="iframe" scrolling="no" frameborder="no" border="0" marginwidth="0" marginheight="0">
    <p>Your browser does not support iframes.</p>
</iframe>
</body>
<script type="text/javascript">
$(document).ready(function(){
	var iframe = document.getElementById("iframe");
	var clientWidth = document.documentElement.clientWidth || $(window).width();
	var clientHeight = document.documentElement.clientHeight || $(window).height();

	iframe.style.width = clientWidth + "px";
	iframe.style.height = clientHeight + "px";

	iframe.src = "./index.html";
});
</script>
</html>