/**
 * 全局工具栏
 */
.xut-global-bar {
  border: 0;
  background-color: #1f1f1f;
  background-size: 100% 100%;
  position: absolute;
  z-index: 3;
  bottom: 0;
  width: 100%;
  height: 5%;
  padding: .4% 0;
}

.xut-global-bar li {
  float: left;
  list-style: none;
}

/*********************
 * 左边区域
 *********************/
.xut-global-bar .g-left {
  position: absolute;
  color: #999999;
  width: 20%;
  height: 80%;
  top: 10%;
}

.xut-global-bar .g-left > div {
  width: 50%;
  height: 100%;
  display: inline-block;
  float: left;
}

.xut-global-bar .g-left > div a {
  width: 50%;
  height: 100%;
  display: block;
  background-size: 100% 100%;
}

/*目录*/
.xut-global-bar .g-dir {
  margin: 0 auto;
  background-image: url(../images/global-bar/dir.png);
}

/* 封面*/
.xut-global-bar .g-cover {
  background-image: url(../images/global-bar/cover.png);
}

/*********************
 * 中间区域
 *********************/
.xut-global-bar .g-center {
  position: absolute;
  color: #999999;
  width: 30%;
  left: 35%;
  top: 10%;
  height: 80%;
  display: table;
  text-align: center;
}

/*标题*/
.xut-global-bar .g-center div {
  width: 100%;
  height: 100%;
  background-color: #252525;
}

.xut-global-bar .g-center div a {
  white-space: nowrap;
  display: block;
    position: relative;
      top: 50%;
      transform: translateY(-50%);
  font-size: .5rem;
/*  -webkit-transform: scale(0.7);
  transform: scale(0.7);*/
}

.xut-global-bar .g-center > a {
  width: 25%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  background-size: 100% 100%;
}

/*上一页*/
.xut-global-bar .g-center .g-prev {
  background-image: url(../images/global-bar/prev.png);
}

.xut-global-bar .g-center .g-prev:active {
  background-image: url('../images/global-bar/prev-active.png');
}

/*下一页*/
.xut-global-bar .g-center .g-next {
  background-image: url('../images/global-bar/next.png');
}

.xut-global-bar .g-center .g-next:active {
  background-image: url('../images/global-bar/next-active.png');
}

/*********************
 * 右边区域
 *********************/
.xut-global-bar .g-right {
  position: absolute;
  right: 0;
  width: 35%;
  height: 80%;
  top: 10%;
}

.xut-global-bar .g-right > div {
  border: 0;
  width: 25%;
  height: 100%;
  display: inline-block;
  float: left;
}

.xut-global-bar .g-right > div a {
  width: 90%;
  height: 100%;
  max-width: 80%;
  text-align: center;
  display: block;
  margin: 0 auto;
  background-size: 100% 100%;
}

/*提交作业*/
.xut-global-bar .g-learn a {
  background-image: url('../images/global-bar/learn-message.png');
}

/*提交作业*/
.xut-global-bar .g-work a {
  background-image: url('../images/global-bar/work-message.png');
}

/*讨论区*/
.xut-global-bar .g-forum a {
  background-image: url('../images/global-bar/forum-message.png');
}

/*页码区域*/
.xut-global-bar .g-right .g-page > div {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  background-size: 100% 100%;
  background-image: url('../images/global-bar/page.png');
  display: table;
}

.xut-global-bar .g-right .g-page a {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.xut-global-bar .g-right .g-page a:first-child {
  color: #428bca;
  text-align: center
}

.xut-global-bar .g-right .g-page a:last-child {
  color: #999999;
  text-align: center
}
