/**
 * 横屏 css
 * @param  {[type]} orientation: landscape     [description]
 * @return {[type]}              [description]
 */
@media screen and (orientation: landscape) {

    /**
*  node 信息按钮
*/
    .xut-showNote {
        position: absolute;
        width: 48px;
        height: 48px;
        background-image: url(../images/icons/hideNote.png);
        background-size: 100% 100%;
        left: 5%;
        bottom: 5%;
        z-index: 5;
        cursor: hand;
        cursor: pointer;
    }
    /**
 * import widget/_shownote.css
 * author : ming
 */
    .xut-shownote-box {
        left: 5%;
        position: absolute;
        bottom: 0px;
        width: 40%;
        height: 80%;
        opacity: 0;
        z-index: 30;
        display: none;
        background-image: url(../images/horizontal/nodeinfo.png);
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -webkit-animation-name: shownotebox;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-fill-mode: forwards
    }
    @-webkit-keyframes shownotebox {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .xut-shownote-box>.close {
        background-image: url(../images/icons/nodeClose.png);
        background-size: 100% 100%;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
    .xut-shownote-box>.content {
        margin: 10% auto;
        width: 80%;
        height: 80%;
        letter-spacing: 2px;
        line-height: 150%;
        text-indent: 15%;
        overflow: hidden;
    }
}
