* {
    touch-action: none;
}

#testButton {
    position: relative;
    width: 32%;
    height: auto;
    margin: 0 auto;
}

button {
    border: 1px solid red;
    position: absolute;
    z-index: 99999
}

#home {
    right: 45px;
}

#activate {
    right: 0px;
}

#closeMini {
    left: 45px;
}
