* {
    touch-action: none;
}

#testButton {
    position: relative;
    width: 20%;
    height: auto;
    margin: 0 auto
}

#testButton button {
    border: 1px solid red;
    position: absolute;
    z-index: 99999;
    transform: scale(.8);
}

#closeMini {
    right: 0px;
}
